$blue: #6AACDA;
$red: #E2001A;
$white: #FFFFFF;
$yellow: #FCDA00;
$green: #97BF0D;
$background: #FDECCE;
$black: #000000;
$brown: #8A5634;
$callout: #004481;

$cardWidth: 45px;
$cardHeight: 70px;
$cardOffsetXMax: 10px;
$cardOffsetXStep: 2px;
$cardOffsetYStep: 20px;
$cardNumMax: 13;
$numSuits: 5;
$cardBorder: 2px;
$brickWidth: 21;
$brickHeight: 22;
$fontSize: 16px;

.soaring-cities {
  background-color: $background;
  color: $black;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: $fontSize;

  .matches {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    a {
      text-decoration: none;
      color: $black;

      &.create-game {
        background-color: $callout;
        color: $white;
        padding: 8px 12px;
        border-radius: 4px;
        display: block;
        width: fit-content;
        margin: 8px auto;
      }
    }

    ul {
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 16px 0 0 0;

      li {
        margin-bottom: 8px;

        a:hover {
          text-decoration: underline;
        }

        &::before {
          margin-left: -16px;
          margin-right: 8px;
        }

        &:nth-child(8n+1)::before {
          content: '🏢';
        }

        &:nth-child(8n+2)::before {
          content: '🚧';
        }

        &:nth-child(8n+3)::before {
          content: '🏨';
        }

        &:nth-child(8n+4)::before {
          content: '️🚛';
        }

        &:nth-child(8n+5)::before {
          content: '🏨';
        }

        &:nth-child(8n+6)::before {
          content: '👷';
        }

        &:nth-child(8n+7)::before {
          content: '🏪';
        }

        &:nth-child(8n+8)::before {
          content: '🦺';
        }
      }
    }
  }

  .rules {
    max-width: 400px;
    margin: 0 auto;
    font-size: larger;

    h1,
    h2,
    blockquote {
      text-align: center;
    }

    blockquote {
      background-color: $white;
      padding: 8px 12px;
      border-radius: 4px;
    }

    ol {
      background-color: $white;
      border-radius: 4px;

      li {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      border-radius: 4px;
      padding: 4px 16px;
      text-align: center;

      thead {
        background-color: $callout;
        color: $white;

        th {
          padding: 8px;
          font-weight: normal;
          font-size: smaller;
        }
      }

      tbody {
        background-color: $white;

        td {
          padding-top: 4px;
        }
      }

      thead > tr:first-of-type > th:first-of-type {
        border-top-left-radius: 4px;
      }

      thead > tr:first-of-type > th:last-of-type {
        border-top-right-radius: 4px;
      }

      tbody > tr:last-of-type > td:first-of-type {
        border-bottom-left-radius: 4px;
      }

      tbody > tr:last-of-type > td:last-of-type {
        border-bottom-right-radius: 4px;
      }
    }
  }

  .bgio-client {
    ul, ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .stats {
      min-height: $cardHeight + $cardBorder;
      display: flex;
      align-items: center;

      .deck {
        display: block;
        position: relative;
        min-height: $cardHeight + $cardBorder;

        li {
          position: absolute;

          @for $i from 1 through $cardNumMax * $numSuits {
            &:nth-child(#{$i}) {
              z-index: $i;
              left: $cardBorder * $i;

              &::after {
                content: "Cards #{$i}";
                text-align: center;
                position: absolute;
                font-size: smaller;
                top: $cardHeight / 2 - $fontSize;
                left: $cardBorder;
                display: none;
              }
            }
          }

          &:last-child::after {
            display: block;
          }

          @for $i from 1 through 5 {
            &:nth-child(10n + #{$i}) {
              top: $cardBorder * $i / 2;
            }

            &:nth-child(10n + #{$i + 5}) {
              top: $cardBorder * (5 - $i) / 2;
            }
          }
        }
      }
    }

    .played,
    .discarded,
    .stats,
    .hand {
      display: grid;
      grid-template-columns: 25px auto;
      grid-template-rows: auto;
      grid-template-areas: "label content";
      margin-bottom: 25px;

      > span,
      > label {
        grid-area: label;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;
      }

      > ol,
      > ul {
        grid-area: content;
      }
    }

    .played {
      .suit {
        &.cards-0 {
          height: 0;
        }

        @for $i from 1 through $cardNumMax {
          &.cards-#{$i} {
            height: $cardHeight + ($i - 1) * $cardOffsetYStep;
          }
        }
      }

      > ul {
        > li {
          min-height: 100px;

          ol {
            position: relative;

            li {
              position: absolute;

              @for $i from 1 through $cardNumMax {
                &:nth-child(#{$i}) {
                  z-index: $i;
                  top: $cardOffsetYStep * ($i - 1);
                }
              }

              @for $i from 0 through 2 {
                &:nth-child(6n + #{$i * 2 + 1}) {
                  left: calc(50% - #{$cardWidth / 2 + $cardOffsetXStep * $i});
                }

                &:nth-child(6n + #{$i * 2}) {
                  left: calc(50% - #{$cardWidth / 2 + $cardOffsetXMax - ($cardOffsetXStep * $i)});
                }
              }
            }
          }
        }
      }
    }

    .discarded {
      > ul {
        background-image: url("data:image/svg+xml,%3Csvg width='#{$brickWidth}' height='#{$brickHeight}' viewBox='0 0 #{$brickWidth * 2} #{$brickHeight * 2}' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-position: #{floor($brickWidth / 6)}px;
        background-color: $brown;

        > li {
          min-height: $brickHeight * 6 + 0.5px;
          min-width: $cardHeight * 2;
          position: relative;

          > input {
            appearance: none;
          }

          > label {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 999;
            font-size: 0;
            top: 0;
            left: 0;
            cursor: pointer;
          }

          ol {
            position: relative;
            width: 100%;
            height: 100%;

            li {
              position: absolute;
              transform: rotate(-90deg);
              transform-origin: 0 0;

              @for $i from 1 through $cardNumMax {
                &:nth-child(#{$i}) {
                  z-index: $i;
                  top: calc(50% + #{$cardWidth / 2 - $cardBorder * ($i - 1)});
                  left: calc(50% - #{$cardHeight / 2 - $cardBorder * ($i - 1)});
                }
              }
            }
          }

          &.checked {
            ol {
              li {
                transform: none;

                @for $i from 1 through $cardNumMax {
                  &:nth-child(#{$i}) {
                    z-index: $i;
                    top: calc(50% - #{$cardHeight / 2 - $cardBorder * ($i - 1)});
                    left: calc(50% - #{$cardWidth / 2 - $cardBorder * ($i - 1)});
                  }
                }
              }
            }
          }
        }
      }
    }

    .played,
    .discarded {
      > ul {
        display: flex;
        justify-content: space-between;

        > li {
          width: 20%;
        }
      }
    }

    .hand {
      min-height: $cardHeight + 20px;

      > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        li {
          &.checked {
            align-self: start;
          }

          input {
            appearance: none;
          }

          label {
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }

    .card {
      height: $cardHeight;
      width: $cardWidth;
      border-radius: 4px;
      box-sizing: border-box;
      border: $cardBorder solid $black;
      padding: 1px 4px;
      display: block;
      user-select: none;

      &.background {
        background-color: $brown;

        .rank {
          display: none;
        }
      }

      &.blue {
        background-color: $blue;
      }

      &.red {
        background-color: $red;
      }

      &.white {
        background-color: $white;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.green {
        background-color: $green;
      }
    }
  }
}
