<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="{{ env.REACT_APP_BUILD_TARGET_THEME_COLOR }}" />
    <meta name="description" content="{{ env.REACT_APP_BUILD_TARGET_DESCRIPTION }}" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <meta property="og:description" content="{{ env.REACT_APP_BUILD_TARGET_DESCRIPTION }}" />
    <meta property="og:title" content="{{ env.REACT_APP_BUILD_TARGET_NAME }}" />
    <meta property="og:url" content="{{ env.REACT_APP_SERVER_URL}}/{{ env.REACT_APP_BUILD_TARGET }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="%PUBLIC_URL%/splash.png" />
    <title>{{ env.REACT_APP_BUILD_TARGET_NAME }}</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
