$tower: #fb6a00;
$key: #c1bfca;
$moon: #2b046f;
$background: #f1efe7;
$white: #ffffff;
$border: #8f7e70;
$alert: #812E18;
$black: #000;

@mixin narrow {
  max-width: 400px;
  margin: 0 auto;
}

@mixin font {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

@mixin label {
  @include font;
  content: ':';
  margin-right: 4px;
}

.the-vole-in-the-valley {
  @include font;
  background-color: $background;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;

  input[type="submit"] {
    cursor: pointer;
  }

  em {
    background-color: $alert;
    color: $background;
  }

  .matches {
    @include narrow;
    text-align: center;

    a {
      color: $alert;
      text-decoration: none;

      &.create-game {
        background-color: $alert;
        color: $white;
        border-radius: 8px;
        border: 4px solid $alert;
        padding: 4px 8px;
        margin: 8px auto;
        display: block;
        width: 50%;
        line-height: 24px;
      }
    }

    ul {
      list-style: none;
      text-align: left;

      li {
        margin-bottom: 8px;

        &:before {
          margin-left: -16px;
          margin-right: 8px;
        }

        &:nth-child(3n+1):before {
          content: '🏰';
        }

        &:nth-child(3n+2):before {
          content: '🌙';
        }

        &:nth-child(3n+3):before {
          content: '🗝️';
        }
      }
    }
  }

  .rules {
    @include narrow;
    font-size: 18px;
    text-decoration-skip-ink: auto;

    @media screen and (max-width: 400px) {
      padding: 8px;
    }

    blockquote {
      border: 4px solid $border;
      border-radius: 8px;
      padding: 8px;
      background-color: $white;
      font-family: Georgia, 'Times New Roman', Times, serif;

      p {
        margin: 0;
      }
    }

    .tower {
      text-decoration: $tower solid underline;
    }

    .key {
      text-decoration: $key solid underline;
    }

    .moon {
      text-decoration: $moon solid underline;
    }

    h1,
    h2,
    h3 {
      text-align: center;
    }

    h2 {
      text-decoration: $alert solid underline;
    }

    h3 {
      font-weight: 400;
      margin: 0;
      line-height: 0.5;
      text-align: center;

      span {
        display: inline-block;
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 4px solid $border;
          top: 0;
          width: 160px;

          @media screen and (max-width: 400px) {
            width: 80px;
          }
        }

        &:before {
          right: 100%;
          margin-right: 16px;
        }

        &:after {
          left: 100%;
          margin-left: 16px;
        }
      }

      + p {
        margin-block-start: 16px;
        margin-block-end: 24px;
      }
    }

    table {
      background-color: $white;
      margin: 0 auto;
      border: 4px solid $border;
      border-radius: 8px;
      padding: 4px 16px;
      text-align: center;

      thead > tr:first-of-type > th:first-of-type {
        border-top-left-radius: 8px;
      }

      thead > tr:first-of-type > th:last-of-type {
        border-top-right-radius: 8px;
      }

      tbody > tr:last-of-type > td:first-of-type {
        border-bottom-left-radius: 8px;
      }

      tbody > tr:last-of-type > td:last-of-type {
        border-bottom-right-radius: 8px;
      }
    }
  }

  .rjsf {
    @include narrow;

    .required {
      display: none;
    }

    input[type="submit"] {
      @include font;
      width: 50%;
      line-height: 24px;
      background-color: $alert;
      color: $white;
      border-radius: 8px;
      border: 4px solid $alert;
      padding: 4px 8px;
      margin: 8px auto;
      display: block;

      &:disabled {
        background-color: $background;
        color: $alert;
      }
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      background-color: $white;
      border: 4px solid $border;
      border-radius: 8px;

        label[for] {
          &:after {
            @include label;
          }
        }

        input[type="text"] {
          @include font;
          min-width: 0;
          flex-grow: 1;
          padding: 0;
          border: 0;
          background-color: $white;
          border-bottom: 1px solid $border;
        }

        .checkbox {
          label {
            display: flex;
            flex-direction: row-reverse;

            span:after {
              @include label;
            }

            input[type="checkbox"] {
              &:before {
                @include font;
                content: 'no';
                border-bottom: 1px solid $border;
              }

              &:checked:before {
                @include font;
                content: 'yes';
              }
            }
          }
      }
    }
  }

  .wait {
    @include narrow;

    textarea,
    em {
      border-radius: 8px;
      border: 4px solid $alert;
      padding: 4px 8px;
      margin: 8px auto;
    }

    textarea {
      @include font;
      background-color: $white;
    }

    .callout {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bgio-client {
    .card {
      position: relative;
      display: inline-block;
      user-select: none;

      &.won:before,
      &.old:before,
      &.new:before {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -6px;
        margin-right: -6px;
      }

      &.won:before {
        content: '👑';
      }

      &.old:before {
        content: '❌';
      }

      &.new:before {
        content: '🌟';
      }

      .content {
        background-color: $white;
        border-style: solid;
        border-width: 6px;
        border-radius: 8px;
        padding: 8px 4px;
        text-align: center;
        display: block;
        height: 100px;
        width: 65px;
        box-sizing: border-box;

        &.compact {
          padding-top: 2px;
          padding-bottom: 2px;
          height: 35px;
          overflow: hidden;
        }
      }

      .rank {
        padding-right: 4px;
      }

      .suit {
        text-transform: capitalize;
      }

      &.key {
        .content {
          border-color: $key;

          .suit:before {
            content: '🗝️';
          }
        }
      }

      &.tower {
        .content {
          border-color: $tower;

          .suit:before {
            content: '🏰';
          }
        }
      }

      &.moon {
        .content {
          border-color: $moon;

          .suit:before {
            content: '🌙';
          }
        }
      }
    }

    .label:after {
      @include label;
    }

    form {
      input[type="submit"],
      aside {
        @include font;
        border-style: solid;
        border-width: 4px;
        border-radius: 8px;
        margin-top: 16px;
        min-height: 40px;
        max-width: 50%;
        padding: 8px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      input[type="submit"] {
        float: right;
        margin-right: 16px;
        border-color: $alert;
        background-color: $alert;
        color: $white;
      }

      aside {
        float: left;
        margin-left: 16px;
        border-color: $border;
        background-color: $white;
        color: $black;
      }
    }

    .board {
      min-width: 320px;

      .info {
        display: flex;
        justify-content: space-between;
        margin: 8px 16px 32px 16px;
        flex-wrap: wrap;

        .stats {
          display: table;

          .score + .score + .tricks {
            > * {
              padding-top: 8px;
            }
          }

          > div {
            display: table-row;

            > span {
              display: table-cell;

              &.label {
                text-align: right;
              }
            }
          }
        }

        .current-trick {
          align-self: flex-end;
          align-items: center;
          display: flex;
          flex-direction: column;
          min-width: 160px;

          .played {
            align-items: center;
            display: flex;
            flex-direction: column;

            .label {
              margin-bottom: 4px;
            }
          }

          em {
            width: fit-content;
            margin: 8px auto;
            background-color: unset;
            color: $alert;
            border-top: 1px solid $alert;
            border-bottom: 1px solid $alert;
          }
        }

        .history {
          display: table;
          border-collapse: separate;
          border-spacing: 8px;
          margin: -8px;

          .trump,
          .last-trick {
            display: table-row;

            .label,
            .card {
              display: table-cell;
            }

            .label {
              text-align: right;
            }
          }
        }

        @media screen and (max-width: 479px) {
          flex-wrap: wrap;

          .stats {
            max-width: 50%;
          }

          .history {
            max-width: 50%;
          }

          .current-trick {
            order: 3;
            margin: 0 auto;
          }
        }

        @media screen and (max-width: 320px) {
          .label {
            font-size: 14px;

            &:after {
              font-size: 14px;
              margin-right: 2px;
            }
          }
        }
      }
    }

    .disabled {
      opacity: 0.5;
    }

    .hand {
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      padding-inline-end: 0;
      margin-right: 6px;
      margin-left: 6px;
      list-style: none;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;

      label {
        width: 100%;
        height: 100%;
        display: block;

        input[type="checkbox"] {
          + .card {
            cursor: pointer;
          }

          &:checked + .card {
            margin-top: -16px;
            margin-right: -6px;
            margin-left: 6px;
          }

          &:disabled + .card {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }
    }
  }

  input[type="checkbox"] {
    appearance: none;
  }

  &.android {
    input[type="checkbox"] {
      visibility: hidden;
    }

    .card {
      .content {
        .suit {
          font-size: 15px;

          &:before {
            display: inline-block;
          }
        }
      }
    }
  }
}
