<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boardgames</title>
  </head>
  <body>
    <main>
      <ul>
        {% for game in games %}
        <li><a href="/{{ game.name }}">{{ game.name | renderGameName }}</a></li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
