<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boardgames</title>
    <style>
      li {
        text-transform: capitalize;
      }
    </style>
    {%- if env.REACT_APP_SERVER_URL %}
    <link rel="preconnect" href="{{ env.REACT_APP_SERVER_URL }}" crossorigin>
    <link rel="dns-prefetch" href="{{ env.REACT_APP_SERVER_URL }}">
    {%- endif %}
  </head>
  <body>
    <main>
      <ul>
        {%- for game in games %}
        <li><a href="./{{ game.name }}">{{ game.name | replace('-', ' ') }}</a></li>
        {%- endfor -%}
      </ul>
    </main>
  </body>
</html>
