$tower: #fb6a00;
$key: #c1bfca;
$moon: #2b046f;
$background: #f1efe7;
$border: #8f7e70;
$alert: #812E18;
$black: #000;

@mixin narrow {
  max-width: 400px;
  margin: 0 auto;
}

.the-fox-in-the-forest {
  background-color: $background;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;

  .rjsf,
  .matches {
    @include narrow;
  }

  .wait {
    @include narrow;

    em {
      background-color: $alert;
      color: $background;
    }
  }

  .bgio-client {
    @include narrow;

    em {
      background-color: $alert;
      color: $background;
    }

    .tower {
      background-color: $tower;
      color: $black;
    }

    .key {
      background-color: $key;
      color: $black;
    }

    .moon {
      background-color: $moon;
      color: $background;
    }

    fieldset {
      border-color: $border;

      > div {
        display: block;
      }
    }

    fieldset:not(:last-child),
    fieldset > div:not(:last-child) {
      margin-bottom: 0.25em;
    }

    fieldset[disabled] {
      opacity: 0.45;
    }

    fieldset[disabled] .tower,
    fieldset[disabled] .key,
    fieldset[disabled] .moon,
    fieldset[disabled] em {
      background-color: transparent;
      color: $black;
    }

    ol {
      padding: 0;
      list-style: none;
    }

    form li > label {
      display: inline-block;
      margin-bottom: 0.5em;
    }

    @media screen and (min-width: 400px) {
      form > div > input {
        width: 100%;
        height: 2em;
      }
    }

    @media screen and (max-width: 400px) {
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 2.8vh;
        min-height: 95vh;
      }

      form > div {
        position: relative;
        padding: 1em;
      }

      form > div > aside {
        position: absolute;
        bottom: 1em;
        text-align: justify;
      }

      form > div > input {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 4em;
      }
    }
  }
}
