em {
  background-color: yellow;
}

.tower {
  background-color: #fb6a00;
  color: #000;
}

.key {
  background-color: #c1bfca;
  color: #000;
}

.moon {
  background-color: #2b046f;
  color: #fefefe;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

fieldset,
fieldset > div {
  display: block;
}

fieldset:not(:last-child),
fieldset > div:not(:last-child) {
  margin-bottom: 0.25em;
}

fieldset[disabled] {
  opacity: 0.45;
}

fieldset[disabled] .tower,
fieldset[disabled] .key,
fieldset[disabled] .moon,
fieldset[disabled] em {
  background-color: transparent;
  color: #000;
}

ol {
  padding: 0;
  list-style: none;
}

.bgio-client form li > label {
  display: inline-block;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 400px) {
  .bgio-client form > div > input {
    width: 100%;
    height: 2em;
  }
}

@media screen and (max-width: 400px) {
  .bgio-client form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2.8vh;
    min-height: 95vh;
  }

  .bgio-client form > div {
    position: relative;
    padding: 1em;
  }

  .bgio-client form > div > aside {
    position: absolute;
    bottom: 1em;
    text-align: justify;
  }

  .bgio-client form > div > input {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4em;
  }
}
