$nigiri: #F9B700;
$rolls: #A13177;
$appetizer: #13817B;
$special: #F68421;
$dessert: #D53093;
$default: #9E988E;
$text: #FFFFFF;
$black: #000000;
$background: #E5D1E4;
$heading: #7D4C83;
$heading-text: #B1DBD0;
$alert: #C9DA2B;

@mixin card-font {
  color: $text;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.sashimi-express {
  background-color: $background;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;

  table {
    border-spacing: 0;

    thead {
      th {
        padding: 16px 8px;
      }
    }

    tbody {
      td,
      th {
        padding: 16px;
      }
    }

    thead > tr > th:first-of-type {
      border-top-left-radius: 16px;
    }

    thead > tr > th:last-of-type {
      border-top-right-radius: 16px;
    }

    tbody > tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 16px;
    }

    tbody > tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 16px;
    }
  }

  .rules {
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    @mixin category-header {
      color: $text;
      padding: 8px 0;
      text-align: center;
      border-radius: 16px;
    }

    blockquote {
      text-align: center;
      font-style: italic;
    }

    table {
      margin: 0 auto;

      thead {
        background-color: $heading;
        color: $heading-text;
      }

      tbody {
        background-color: $heading-text;
        color: $black;
      }
    }

    h1 {
      @include category-header;
      background-color: $alert;
      color: $black;
    }

    h2 {
      @include category-header;
      background-color: $heading;
      color: $heading-text;
    }

    #nigiri {
      @include category-header;
      background-color: $nigiri;
    }

    #rolls {
      @include category-header;
      background-color: $rolls;
    }

    #appetizers {
      @include category-header;
      background-color: $appetizer;
    }

    #specials {
      @include category-header;
      background-color: $special;
    }

    #desserts {
      @include category-header;
      background-color: $dessert;
    }
  }

  .bgio-client {
    figcaption {
      @include card-font;
      background-color: $heading;
      color: $heading-text;
      padding: 8px 0;
      margin: 8px 0;
    }

    .card {
      @include card-font;
      border-radius: 16px;
      border: 2px solid $background;
      padding: 16px 8px;
      width: 128px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      aside {
        display: none;
        font-size: 12px;
      }

      @media (max-width: 1193px) {
        &.showHelpText {
          .name {
            display: none;
          }

          aside {
            display: block;
          }
        }
      }

      @media (min-width: 1194px) {
        width: 96px;
        height: 128px;
        justify-content: space-between;
        flex-direction: column;

        aside {
          display: block;
        }
      }
    }

    button {
      padding: 0;
      border-width: 0;
      width: 100%;
      background-color: $background;

      &:disabled {
        .card {
          background-color: $default;
          opacity: 0.5;
        }
      }

      &.clickable {
        .card {
          &:hover {
            border-color: $default;
            font-weight: 900;

            aside {
              font-weight: 600;
            }
          }
        }
      }
    }

    .Nigiri {
      background-color: $nigiri;
    }

    .Rolls {
      background-color: $rolls;
    }

    .Appetizer {
      background-color: $appetizer;
    }

    .Special {
      background-color: $special;
    }

    .Dessert {
      background-color: $dessert;
    }

    figure {
      margin-block-start: 16px;
      margin-block-end: 16px;
      margin-inline-start: 0;
      margin-inline-end: 0;

      ul,
      ol {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    .status {
      @include card-font;
      color: $black;
      position: fixed;
      z-index: 1;
      right: 8px;
      top: 8px;
      padding: 8px 16px;
      border-radius: 16px;
      background-color: $alert;
    }

    .help {
      color: $black;
      position: fixed;
      z-index: 1;
      bottom: 8px;
      right: 8px;
      background-color: $alert;
      border: 2px solid $alert;
      text-decoration: none;
      border-radius: 26px;
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      &:hover {
        border-color: $default;
      }
    }

    .gameover {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      table {
        @include card-font;
        width: 100%;
        max-width: 600px;

        thead {
          background-color: $nigiri;
        }

        tbody {
          background-color: $rolls;
        }
      }

      a {
        @include card-font;
        margin-top: 16px;
        background-color: $appetizer;
        text-decoration: none;
        border-radius: 16px;
        padding: 16px;
        width: fit-content;
        border: 2px solid $appetizer;

        &:hover {
          border: 2px solid $default;
        }
      }
    }
  }
}
