$nigiri: #F9B700;
$rolls: #A13177;
$appetizer: #13817B;
$special: #F68421;
$dessert: #D53093;
$default: #9E988E;
$text: #FFFFFF;
$black: #000000;
$background: #E5D1E4;
$heading: #7D4C83;
$heading-text: #B1DBD0;
$alert: #C9DA2B;

@mixin card-font {
  color: $text;
  text-align: center;
  font-weight: 600;
}

@mixin narrow {
  max-width: 480px;
  margin: 0 auto;
}

@mixin category-header {
  color: $text;
  padding: 8px 0;
  text-align: center;
  border-radius: 16px;
}

.sashimi-express {
  background-color: $background;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  table {
    border-spacing: 0;

    thead {
      th {
        padding: 16px 8px;
      }
    }

    tbody {
      td {
        padding: 16px;
      }
    }

    thead > tr:first-of-type > th:first-of-type {
      border-top-left-radius: 16px;
    }

    thead > tr:first-of-type > th:last-of-type {
      border-top-right-radius: 16px;
    }

    tbody > tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 16px;
    }

    tbody > tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 16px;
    }
  }

  .matches {
    @include narrow;
    text-align: center;

    a {
      color: $rolls;
      text-decoration: none;

      &.create-game {
        background-color: $alert;
        color: $black;
        width: 50%;
        height: 32px;
        border-radius: 16px;
        line-height: 32px;
        display: block;
        margin: 8px auto;
        border: 2px solid $alert;
        font-weight: 600;

        &:hover {
          border-color: $default;
        }
      }
    }

    ul {
      list-style: none;
      text-align: left;

      li {
        margin-bottom: 8px;

        &:before {
          margin-left: -16px;
          margin-right: 8px;
        } 

        &:nth-child(5n+1):before {
          content: '🍣';
        }

        &:nth-child(5n+2):before {
          content: '🍱';
        }

        &:nth-child(5n+3):before {
          content: '🥢';
        }

        &:nth-child(5n+4):before {
          content: '🍙';
        }

        &:nth-child(5n+5):before {
          content: '🍶';
        }
      }
    }
  }

  .rjsf {
    @include narrow;

    input[type=submit] {
      border-radius: 16px;
      background-color: $alert;
      color: $black;
      border: 2px solid $alert;
      padding: 8px 16px;
      display: block;
      margin: 8px auto;
      font-weight: 600;
      width: 100%;

      &:hover {
        border-color: $default;
      }
    }

    .required {
      display: none;
    }

    fieldset {
      border: 0;
      width: 100%;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }

    .form-group {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;
      column-gap: 8px;

      input,
      select {
        text-align: center;
        text-align-last: center;
        border-radius: 16px;
        border: 2px solid $background;
        flex-grow: 1;
        min-width: 0;

        &:disabled {
          opacity: 0.5;
          background-color: $text;
        }
      }

      .checkbox {
        width: 100%;

        label {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          span {
            @include category-header;
            background-color: $heading;
            width: 50%;
          }
        }
      }

      label[for] {
        @include category-header;
        background-color: $heading;
        min-width: 50%;

        &[for="root_nigiri"] {
          background-color: $nigiri;
        }

        &[for="root_rolls"] {
          background-color: $rolls;
        }

        &[for="root_appetizer1"],
        &[for="root_appetizer2"],
        &[for="root_appetizer3"] {
          background-color: $appetizer;
        }

        &[for="root_special1"],
        &[for="root_special2"] {
          background-color: $special;
        }

        &[for="root_dessert"] {
          background-color: $dessert;
        }
      }
    }
  }

  .wait {
    @include narrow;

    .url {
      padding-top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      textarea {
        border-radius: 16px;

        @media (min-width: 400px) {
          height: 32px;
          line-height: 32px;
          width: 100%;
        }
      }
    }

    .callout {
      padding-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      em {
        background-color: $alert;
        color: $black;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 16px;
      }
    }
  }

  .rules {
    @include narrow;
    padding: 16px;

    blockquote {
      text-align: center;
      font-style: italic;
    }

    table {
      margin: 0 auto;

      /* stylelint-disable-next-line no-descending-specificity */
      thead > tr > th {
        background-color: $heading;
        color: $heading-text;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      tbody > tr > td {
        background-color: $heading-text;
        color: $black;
      }
    }

    h1 {
      @include category-header;
      background-color: $alert;
      color: $black;
    }

    h2 {
      @include category-header;
      background-color: $heading;
      color: $heading-text;
    }

    #nigiri {
      @include category-header;
      background-color: $nigiri;
    }

    #rolls {
      @include category-header;
      background-color: $rolls;
    }

    #appetizers {
      @include category-header;
      background-color: $appetizer;
    }

    #specials {
      @include category-header;
      background-color: $special;
    }

    #desserts {
      @include category-header;
      background-color: $dessert;
    }
  }

  .bgio-client {
    figcaption {
      @include card-font;
      background-color: $heading;
      color: $heading-text;
      padding: 8px 0;
      margin: 8px 0;
    }

    .card {
      @include card-font;
      border-radius: 16px;
      border: 2px solid $background;
      padding: 16px 8px;
      width: 128px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      aside {
        display: none;
        font-size: 12px;
      }

      @media (max-width: 1193px) {
        &.showHelpText {
          .name {
            display: none;
          }

          aside {
            display: block;
          }
        }
      }

      @media (min-width: 1194px) {
        width: 96px;
        height: 128px;
        justify-content: space-between;
        flex-direction: column;

        aside {
          display: block;
        }
      }
    }

    button {
      padding: 0;
      border-width: 0;
      width: 100%;
      background-color: $background;

      &:disabled {
        .card {
          background-color: $default;
          opacity: 0.5;
        }
      }

      &.clickable {
        .card {
          &:hover {
            border-color: $default;
            font-weight: 900;

            aside {
              font-weight: 600;
            }
          }
        }
      }
    }

    .nigiri {
      background-color: $nigiri;
    }

    .rolls {
      background-color: $rolls;
    }

    .appetizer {
      background-color: $appetizer;
    }

    .special {
      background-color: $special;
    }

    .dessert {
      background-color: $dessert;
    }

    figure {
      margin-block-start: 16px;
      margin-block-end: 16px;
      margin-inline-start: 0;
      margin-inline-end: 0;

      ul,
      ol {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    .status {
      @include card-font;
      color: $black;
      position: fixed;
      z-index: 1;
      right: 8px;
      top: 8px;
      padding: 8px 16px;
      border-radius: 16px;
      background-color: $alert;
    }

    .help {
      color: $black;
      position: fixed;
      z-index: 1;
      bottom: 8px;
      right: 8px;
      background-color: $alert;
      border: 2px solid $alert;
      text-decoration: none;
      border-radius: 26px;
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      &:hover {
        border-color: $default;
      }
    }

    .gameover {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      table {
        @include card-font;
        width: 100%;
        max-width: 600px;

        thead > tr > th {
          background-color: $nigiri;
        }

        tbody > tr > td {
          background-color: $rolls;
        }
      }

      a {
        @include card-font;
        margin-top: 16px;
        background-color: $appetizer;
        text-decoration: none;
        border-radius: 16px;
        padding: 16px;
        width: fit-content;
        border: 2px solid $appetizer;

        &:hover {
          border: 2px solid $default;
        }
      }
    }
  }
}
